<!doctype html>
<html lang="en">
<head>
    <title>{{global.site_name}}</title>
    <meta name="description" content="" />
    
    {{>head}}
</head>

    <body>
            <div>
            {{>header2}}
            <section>
                <div class="container post-content">
                    <div class="text-center pt-5">
                        <h1 class="section position-relative pb-3 mt-5">ABOUT SIX</h1>
                    </div>

                    <div class="row mt-5 pt-4">
                        <div class="col-md-5">
                            <p class="pt-3 mb-2r"><img src="https://lh3.googleusercontent.com/UwPSFpPgiGRFoiJf7oAL8S5PAayNt-xAWLzJjwQdnm5GXIsqL-yIkNqhyo-FFQ02bUkkBOnGdSDzgGmbrmfF8xOuAGY=s1080"/></p>
                        </div>
                        <div class="col-md-7">
                            <h4 style="font-weight: 600;">Film Maker  & Photographer</h4>
                            <div style="font-size: : 30px;font-style:justify;" class="text">Photographer & Filmmaker. Lover of coffee and good stories. Currently residing in Dublin, Ireland running self-titled channel on YouTube; Six Studio. Have worked with fortune 50 companies and currently freelancing for Nike and Boohoo. Come join me for coffee sometime :)</div>

                            <a class="view-btn" href="/#subscribeForm" target="_blank"><button class="btn btn-primary btn-send-message">Book Now</button></a>
                        </div>
                    </div>
                </div>
            </section>

            {{>footer}}

        </div>

        {{>scripts}}
    </body>
</html>
