<section class="py-md-5 block">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto text-center">
                <h1 id="blog" class="display-4 mt-2 section-title">Blog</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 aos-init aos-animate">
                <div class="post mb-5">
                    <a class="img-post" href="/">
                        <img src="{{{page.posts.img_1}}}=s512" class="img-fluid">
                    </a>
                    <div class="post-content mt-2r">
                        <span class="date">June 28, 2019</span>
                        <a href="/"><h4>Best Six Studio Outdoor shoot in 2019</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 aos-init aos-animate">
                <div class="post mb-5">
                    <a class="img-post" href="/">
                        <img src="{{{page.posts.img_2}}}=s512" class="img-fluid">
                    </a>
                    <div class="post-content mt-2r">
                        <span class="date">Feb 28, 2020</span>
                        <a href="/"><h4>Six studio recieving top Award at Oasis 2020</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 aos-init aos-animate" >
                <div class="post mb-5">
                    <a class="img-post" href="/">
                        <img src="{{{page.posts.img_3}}}=s512" class="img-fluid">
                    </a>
                    <div class="post-content mt-2r">
                        <span class="date">March 28, 2020</span>
                        <a href="/"><h4>What the world look like after the Covid 19 Pandemic</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>