<section class="py-md-5 block testimonial-block">
    <div class="container py-5">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 id="testimonial" class="display-4 section-title">Testimonials</h1>
                <hr>
                <p class="lead">I've had the chance to work with some of the fortune 50 companies and recieved some heartwarming testimonies.</p>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-6">
                <blockquote class="blockquote">
                    <p><img class="avatar" src="{{{page.testimonial.img_1}}}" alt="..."></p>
                    <p>Six Studio has been a home for me and my family, Raj is as creative as it gets.</p>
                    <p class="name">Steve Jobs</p>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote class="blockquote">
                    <p><img class="avatar" src="{{{page.testimonial.img_2}}}" alt="..."></p>
                    <p>Technology is just a tool. In terms of getting the kids working together and motivating them, the teacher is important.</p>
                    <p class="name">Bill Gates</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>